<center>
<h1>Nowa funkcja</h1>

  <%= form_for(@function) do |f| %>
      
      <%= f.label :nazwa %>
      <%= f.text_field :nazwa, class: 'form-control' %>
      </br>

      <%= f.submit "Create new function", class: "btn btn-primary" %>
    <% end %>

    </br>
     <a href="/">Powrót do strony głównej</a> 
</center>