
<table width="100%" cellspacing="0" cellpadding="10">
<tr>
	<th>Firma</th>
	<th>Treść informacji</th>
	<th>Data</th>
</tr>
<% @faktura.each do |faktura| %>
<tr>
	<td><%= faktura.firma.nazwa %></td>
	<td><%= faktura.cena %></td>
		<td><%= faktura.created_at %></td>
</tr>
<% end %>
</table>






